<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>All listings</h3>

    <!-- <form action="/listings/new" method="GET">
        <button>Create new  listing</button>
    </form> -->
    <% for (let listings of allListings){ %>
        <li> <a href="/listings/<%= listings._id %>"><%=listings.title %></a></li>
        
    </form>
     <% } %>
    
</body>


