<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a new listing</h3>
   <form action="/listings" method="post">
    <input type="text" name="listing[title]" id="" placeholder="enter title">
    <br>
    <br>

    <textarea name="listing[description]" id="" cols="30" rows="10" placeholder="enter description0"></textarea>
    <br>
    <br>
    <input type="text" name="listing[image]" id="" placeholder="enter image url">
    <br>
    <br>
    <input type="number" name="listing[price]" id="" placeholder="enter price">
    <br>
    <br>
    <input type="text" name="listing[location]" id="" placeholder="enter location">
    <br>
    <br>
    <input type="text" name="listing[country]" id="" placeholder="enter country">
    <br>
    <br>
    <button>Add </button>

   </form> 
</body>
</html>